<?xml version='1.0' encoding='utf-8'?>
<widget id="us.famous.angular" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FACS</name>
    <description>
        Famo.us/Angular seed project w/ Cordova
    </description>
    <author email="angular@famo.us" href="http://famo.us/angular">
        Famous Angular
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icons/" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
